<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Statistics for Roshambo-Express</title>
</head>
<body>
  <h1>Number of wins since last time stats reset:</h1>
  <ul>
    <li>Human: <%= stats.human %></li>
    <li>Bot: <%= stats.bot %></li>
    <li>Ties: <%= stats.tie %></li>
  </ul>
</body>
</html>


